* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

#form-image {
    height: 100vh;
    width: 40vw;
    background-image: url(images/photo-1688248335728-3ec6d3e1950b.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-cover {
    /* width: 40vw; */
    float: left;
    position: relative;
    margin-right: 30px;
}

#div-logo {
    position: absolute;
    top: 40%;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
}

#div-logo h1 {
    display: inline;
    position: absolute;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff;
    top: 30%;
    left: 40%;
    font-family: Norse-bold;
}

.odin-logo {
    position: absolute;
    left: 25%;
    height: 80px;
    margin: 10px 0 0 0;
}

/* body */
.form-information {
    height: 100vh;
}

.form-header, .form-mid, .submission-section {
    height: calc(1/3 * 100vh);
}

.form-header {
    padding: 90px 100px 10px 0;
    background-color: #596D48;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 10px 5px 5px #E5E7EB;
}

.form-header p:nth-of-type(3) {
    margin-top: 20px;
}

/* .form-mid {
     border: 1px solid red;    
} */


form h3 {
    padding: 20px 0 10px 0;
}

.form-details  {
    /* padding: 10px 0 10px 0; */


    display: grid;
    /* border: 1px solid blue; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

label {
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    font-weight: 700;
    /* border: 1px solid red; */
}

input {
    outline: none;
    padding: 3px;
    border: 1px solid #E5E7EB;
    border-radius: 2px;
    /* height: 16px; */
    /* width: 300px; */
    width: 250px;
}

input:focus:invalid {
    border: 1px solid red;
}

input:focus {
    border: 2px solid #295ea3;
}

.submission-section{
    padding: 20px 0;
    background-color: rgb(243 244 246);
    box-shadow: 10px -5px 5px #E5E7EB;
}

button {
    width: 160px;
    border: none;
    color: #fff;
    padding: 10px;
    background-color: #596D48;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
}

.submission-section p {
    margin-top: 20px;
    font-size: small;
}

p span {
    cursor: pointer;
    color: #596D48;
}

@media (max-width: 991.98px) {
    /* body {
        width: 100vw;
    } */

    #form-image {
        width: 100vw;
        height: 20rem;
        float: none;
    }

    .form-header, .form-mid, .submission-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .form-mid {
        align-items: normal;
        padding: 20px;
    }

    /* .form-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
    }

    .form-details-section {
        grid-template-columns: repeat(auto-fit, 1fr);
    } */

    .form-header {
        padding: 0 10px;
    }
}

@media (max-width:576px) {
    .form-details {
        grid-template: repeat(5, 1fr) / 1fr;
        justify-content: center;
        align-content: center;
    }

    .form-mid {
        height: auto;
        align-items: center;
    }
}